.tasks {
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
  margin-top: 5.625rem;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.header div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.header p.textPurple {
  color: var(--purple);
  font-weight: 700;
}

.header p {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

span {
  display: flex;
  background: var(--gray-400);
  border-radius: 999px;
  padding: 3px 9px;
  align-item: center;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
